.jumbotron {
    background-image: url("../images/pizza.png");
    padding: 4em 0 4em 0;
}
h1 {
    background-color: #fff;
    opacity: 0.8;
    padding: 0.5em 0 0.5em 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;
}
.badge {
    color: #fff;
    background-color: #666;
    margin-right: 0.5em;
}