body {
    padding: 30px;
}
h1 {
    text-align: center;
    font-family: Avenir, sans-serif;
    color: #24454c;
}
h2 {
    color: #24454c;
}
ul {
    width: 100%;
    margin: 0;
    padding: 0;
}
li {
    width: 100%;
    height: 30px;
    border: 1px solid darkgray;
    margin: 0 0 15px 0;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    background-color: #ccc;
    list-style-type: none;
    font-family: Avenir, sans-serif;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 30px;
}
a {
    text-decoration: none;
}
a:link {
    color: cadetblue;
}
.header-img {
    width: 100%;
}
img {
     width: 100%
 }
.social-media-links {
    width: 50%;
    float: right;
    height: 40px;
}
.social-link {
    width: 40px;
    float: right;
    margin-left: 5px;
    margin-top: 10px;

}
.clear-both {
    clear: both;
    display: inline-block;
    float: left;
}
footer {
    margin-top: 10px;
    margin-bottom: 30px;
}
.alert-info {
    background-color: lightblue;
    width: 100%;
    height: 40px;
    border: 1px solid lightgray;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    border-radius: 30px;
}
.main {
    font-family: Avenir, sans-serif;
}
.sub-section {
    font-family: Avenir, sans-serif;
    font-style: italic;
}
@media screen and (min-width: 500px)  {
    .alert-info { display: none; }
    h1 { text-align: left;
        width: 30%;
        margin: 0;
        display: inline-block;
        font-family: Avenir, sans-serif;
    }
    li {
        width: 40px;
        height: 30px;
        border: 0;
        margin: 0 15px 0 15px;
        text-align: right;
        vertical-align: middle;
        line-height: 30px;
        list-style-type: none;
        background-color: #fff;
        display: inline-block;
    }
    ul {
        margin: 0;
        padding: 0;
        width: 100%;
        float: right;
        text-align: right;
    }
    nav {
        margin: 0;
        padding: 0;
        float: right;
        width: 70%;
        height: 32px;
    }
    .header-img {
        margin-top: 30px;
    }
    .main {
        width: 65%;
        float: left;
    }
    .sub-section {
        width: 30%;
        float: left;
        margin-left: 5%;
    }
    .sub-section:after {
        clear: both;
    }
    footer {
        clear: both;
    }
}