.body-wrapper{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}
.form_pad {
    padding-bottom: 15px;
}
h1 {
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    font-size: 55px;
    background: linear-gradient(#4fabec, #0079c0);
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    text-align: center;
    border-radius: 50px;
}
h3 {
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #24454c;
}

.wrapper {
    float: left;
    width: 400px;
    height: 350px;
}
.wrapper-bot {
    float: left;
    width: 400px;
    height: 200px;
}
input::-webkit-input-placeholder{
    color: #E0E0E0;
}
input[type=text] {
    width: 90%;
    padding: 9px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #def2f3;
    border-radius: 8px;
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
}
input[type=email] {
    width: 90%;
    padding: 9px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #def2f3;
    border-radius: 8px;
    font-size: 16px;
}
input[type=date] {
    width: 90%;
    padding: 9px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #def2f3;
    border-radius: 8px;
    color: #E0E0E0;
    font-size: 16px;
}
label {
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    color: #24454c;
}

button {
    border: 0;
    margin-left: -10px;
}
